<div class="container" id="act">
<h1>Contact Us </h1>
 <p style="text-align: centre">Questions?,Comments?,send us message</p> 

 <div class="conatactus">
    <p>
        We are available Monday - Friday,<br>
        9am to 4pm CST.<br>
        Average response time during business hours is 8 minutes.<br>
        
        Email: suza2022@gmail.com<br>
        website:suzavoting2022.ac.tz<br>

        phone number:0657536875/0628632904<br>
        Mailing Address:
        SUZA ZANZIBAR,HEAD DEPARTMENT IS TUNGUU</p>


 </div>

 <div class="folter">
    <h3>Starting do the online voting in your college for the benfit of our education system</h3>
       <p> this application is special for the student of all school of suza university </p>
    </div>

    <div id="folter2">

      <h1>introduction</h1>
      <a  style="color: whitesmoke;padding-bottom: 400px;" routerLink="/Contact" >Contact us</a><br>
      <a style="color: whitesmoke;margin-top: 20px;" routerLink="/login">login here</a><br>
      <a style="color: whitesmoke;margin-top: 20px;" routerLink="/signin">Register here</a><br>
      <a style="color: whitesmoke;margin-top: 20px;" routerLink="/about">About us</a><br>
      <a style="color: whitesmoke;margin-top: 20px;" routerLink="/team">About team</a><br>
   </div>

    </div>



    
