<div class="container">
    <h1 style="border: none;">ABOUT US</h1>

    <h2>  Introduction</h2>
    <P>Right2Vote is a mobile based voting platform that allows you to create and manage your own election. Right2Vote is much more than a platform - it's a revolution. Right2Vote is what mobile banking is to cash transactions, Right2Vote is what Whatsapp is to postal department, Right2Vote is what mobile share trading is to paper shares trading.

        Today voting means - travelling to a booth, standing there in queue for hours, getting hand inked to vote. Right2Vote lets voter vote directly from their mobile, from the comforts of their homes and that also within few seconds.
        
        If you have the choose between spending Rs. 30,000 Crores, 2 months and 1 Crore man days to manage election with 66% voter turnout Vs spending less than 10% cost, 10% time and 10% effort and still manage 10 times better security and close to 100% voter turnout - what would you choose?</P>
</div>
